Package: com.yzdmm.floatingurl
Name: 悬浮URL
Version: 1.4.1
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Maintainer: yzdmm
Author: yzdmm
Section: Tweaks
Description: 解锁URL玩法！
